@using SanGiuseppe.helpers;
@inject Funzioni funzioni
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

@section Header {

}

<p id="introText" class="d-lg-none textBase">@funzioni.GetWord("DescrizioneAssociazioneHome")</p>
<div id="loginBox">
    <span class="d-lg-none">@funzioni.GetWord("Accesso al sito")</span>
    <span class="d-none d-lg-block">@funzioni.GetWord("Entra nel sito della Fraternità")</span>
    <form action="/Login" method="post">
        <div>
            <label for="emailLogin" class="form-label">@funzioni.GetWord("Nome utente (la tua mail)")</label>
            <input type="email" class="form-control" id="emailLogin" name="username" aria-describedby="emailHelp" required>
        </div>
        <div>
            <label for="pwLogin" class="form-label">@funzioni.GetWord("Password")</label>
            <input type="password" class="form-control" id="pwLogin" required name="password">
            <span class="error">@ViewBag.msg</span>
            <div id="pwHelp" class="form-text"><a href="/Home/RecuperoPassword" class="form-text">@funzioni.GetWord("Non ricordi la password?")</a></div>
</div>
        <button type="submit" class="btn btn-primary">@funzioni.GetWord("Area riservata")</button>
        <!--  <span>Leggi l’ <a href="google">Informativa</a></span>-->

    </form>

</div>
<div id="languageBox">
    <button onclick="SetLanguage('ITA')">Italiano</button>
    <button onclick="SetLanguage('ING')">English</button>
    <button onclick="SetLanguage('SPA')">Español</button>

    <button onclick="SetLanguage('POR')">Português</button>
    <button onclick="SetLanguage('BRA')">Brasileiro</button>
    <button onclick="SetLanguage('FRA')">Français</button>
    <button onclick="SetLanguage('TED')">Deutsche</button>

    <button onclick="SetLanguage('RUS')">Pусский</button>
    <button onclick="SetLanguage('POL')">Polskie</button>

</div>
<section id="mainSection">
    <img src="../../../img/bg-home.jpg" id="bgHome" />
    <img src="../../../img/payoff.png" id="payoff" />
</section>
<!--
<section id="sectionInfo">
    <p class="d-none d-lg-block">La fraternità è una compagnia guidata al destino.</p>
    <div id="sectionInfoElements">
        <div>
            <figure><img src="../../../img/phone.svg" /> </figure>
            <span>
                Archivio documenti
                lezioni, ritiri, appunti
                pdf/ePub
            </span>
        </div>
        <div>
            <figure><img src="../../../img/puzzle.svg" /> </figure>
            <span>
                Avvisi
                della vita di Fraternità
            </span>
        </div>
        <div>
            <figure><img src="../../../img/people.svg" /> </figure>
            <span>
                Bacheca
                interscambio notizie
                personali
            </span>
        </div>
        <div>
            <figure><img src="../../../img/fulmine.svg" /> </figure>
            <span>
                Gli ultimi<br />
                aggiornamenti
            </span>
        </div>
        <div>
            <figure><img src="../../../img/fiore.svg" /> </figure>
            <span>
                Ritiri, eventi,<br />
                dirette streaming
            </span>
        </div>
    </div>
</section>
-->
<section id="textInfoHp">
    <p class="textBase">
        @funzioni.GetWord("DescrizioneAssociazioneHome")
    </p>
</section>
<section id="descriptionBoxHp">
    <div id="descriptionBoxHp_content">
        <p class="textBase">
            «Tutta la mia vita consiste nell’avvenimento della sua chiamata, nella carità del suo Essere che ha scelto la mia miseria per incarnarsi e rendere più lieta e luminosa la mia vita. Ogni mattina, quando mi sveglio, capisco che la vita mi è data per questo; la giornata, le ore, i minuti, mi sono dati per questo, perché il desiderio della sua compagnia, sperimentata come dono ineguagliabile, sia grido consapevole per una vita piena»
          
        </p>
        <figure>
            <img src="../../../img/statue.jpg" />
        </figure>
    </div>
</section>


@section Script {
    <script>
        function SetLanguage(lingua) {
            window.location.href = "/SetLanguage/" + lingua;
        }
    </script>
}

