@model SanGiuseppe.Models.Dto.dtoAnagrafica
@using SanGiuseppe.helpers;
@inject Funzioni funzioni
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutSenzaMenu.cshtml";
}
@section Header {
    <link href="~/css/logged.css" rel="stylesheet" type="text/css">
    <style>
        .form-group {
            padding-bottom: 10px;
        }
    </style>
    <style>
        .label {
            cursor: pointer;
        }


        .card {
            margin-left: auto;
            margin-right: auto;
            float: none; /* Added */
            margin-bottom: 10px; /* Added */
        }
    </style>
}
<main>
    <div class="container" style="max-width:90%!Important">
        <section>
            <h1 class="titleBase">
                Anagrafica
            </h1>

            <div class="card">
                <div class="card-header">
                    <span style="color:red!important; font-weight:bold!important">@ViewBag.msg</span>
                </div>
                <div class="card-body">
                   
                  
                        <div class="row mt-2 ml-2 mr-2">
                            <div class="col-6">
                                <a href='@Model.PercorsoFoto' target="_new_foto" border="0">
                                    <img class="rounded" width="150" id="avatar" src="@Model.PercorsoFoto" alt="avatar">
                                </a>
                            </div>
                        </div>
                            
                            <form asp-action="EditBO">
                                <div class="row mt-2 ml-2 mr-2">
                                    <div class="col-1">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <input type="hidden" asp-for="Idanagrafica" />
                                        <input type="hidden" asp-for="UID" class="form-control" />
                                        <label asp-for="Cognome" class="control-label">@funzioni.GetWord("Cognome")</label>
                                    </div>
                                    <div class="col-3">
                                        <input asp-for="Cognome" class="form-control" />
                                        <span asp-validation-for="Cognome" class="text-danger"></span>
                                    </div>
                                    <div class="col-1">
                                        <label asp-for="Nome" class="control-label">@funzioni.GetWord("Nome")</label>
                                    </div>
                                    <div class="col-3">
                                        <input asp-for="Nome" class="form-control" />
                                        <span asp-validation-for="Nome" class="text-danger"></span>
                                    </div>
                                    <div class="col-1">
                                        <label asp-for="Sesso" class="control-label">@funzioni.GetWord("Sesso")</label>
                                    </div>
                                    <div class="col-2">
                                        <select asp-for="Sesso" class="form-control">
                                            <option value="M">Uomo</option>
                                            <option value="F">Donna</option>
                                        </select>
                                        <span asp-validation-for="Sesso" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row mt-2 ml-2 mr-2">
                                    <div class="col-1">
                                        <label asp-for="LuogodiNascita" class="control-label">@funzioni.GetWord("Luogo di nascita")</label>
                                    </div>
                                    <div class="col-3">
                                        <input asp-for="LuogodiNascita" class="form-control" />
                                        <span asp-validation-for="LuogodiNascita" class="text-danger"></span>
                                    </div>
                                    <div class="col-1">
                                        <label asp-for="DatadiNascita" class="control-label">@funzioni.GetWord("Data di nascita")</label>
                                    </div>
                                    <div class="col-3">
                                        <input asp-for="DatadiNascita" class="form-control" />
                                        <span asp-validation-for="DatadiNascita" class="text-danger"></span>
                                    </div>
                                    <div class="col-1">
                                        <label asp-for="Cittadinanza" class="control-label">@funzioni.GetWord("Cittadinanza")</label>
                                    </div>
                                    <div class="col-3">
                                        <input asp-for="Cittadinanza" class="form-control" />
                                        <span asp-validation-for="Cittadinanza" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row mt-2 ml-2 mr-2">
                                    <div class="col-1">
                                        <label asp-for="Nazione" class="control-label">@funzioni.GetWord("Nazione")</label>
                                    </div>
                                    <div class="col-3">
                                        <input asp-for="Nazione" class="form-control" />
                                        <span asp-validation-for="Nazione" class="text-danger"></span>
                                    </div>
                                    <div class="col-1">
                                        <label asp-for="Lingua" class="control-label">@funzioni.GetWord("Lingua")</label>
                                    </div>
                                    <div class="col-3">
                                        <select asp-for="Lingua" class="form-control" style="width:100%"
                                                asp-items="@(new SelectList(ViewBag.lingua,"Lingua","Lingua"))">
                                            <option></option>
                                        </select>

                                        <span asp-validation-for="Lingua" class="text-danger"></span>
                                    </div> 
                                    <div class="col-1">
                                        <label asp-for="SanGiuseppe" class="control-label">@funzioni.GetWord("San Giuseppe")</label>
                                    </div>
                                    <div class="col-3">
                                      <input type="checkbox" id="ckbSanGiuseppe" asp-for="SanGiuseppe" checked="@Model.SanGiuseppe" class="form-control form-check-input" />

                                        <span asp-validation-for="Lingua" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="row mt-2 ml-2 mr-2">
                                    <div class="col-1">
                                        <label asp-for="NumeroIscrizioneFraternità" class="control-label">@funzioni.GetWord("Numero iscrizione fraternità")</label>
                                    </div>
                                    <div class="col-3">
                                        <input asp-for="NumeroIscrizioneFraternità" class="form-control" />
                                        <span asp-validation-for="NumeroIscrizioneFraternità" class="text-danger"></span>
                                    </div>

                                    <div class="col-1">
                                        <label asp-for="Codfisc" class="control-label">@funzioni.GetWord("Codice fiscale")</label>
                                    </div>
                                    <div class="col-3">
                                        <input asp-for="Codfisc" class="form-control" />
                                        <span asp-validation-for="Codfisc" class="text-danger"></span>
                                    </div>
                                    <div class="col-1">
                                        <label asp-for="Professione" class="control-label">@funzioni.GetWord("Professione")</label>
                                    </div>
                                    <div class="col-3">
                                        <input asp-for="Professione" class="form-control" />
                                        <span asp-validation-for="Professione" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row mt-4 ml-2">
                                    <div class="col-11">
                                        <h3>Recapiti</h3>
                                    </div>
                                </div>
                                <div class="row mt-2 ml-2 mr-2">
                                    <div class="col-1">
                                        <label asp-for="Telefono" class="control-label">@funzioni.GetWord("Telefono (prefisso int. e numero)") </label>
                                    </div>
                                    <div class="col-3">
                                        <input asp-for="TelefonoPrefissoInternazionale" style="width:80px;display:unset" class="form-control" /> 
                                        <input asp-for="Telefono" class="form-control" style="display:unset; width:250px" />
                                        <span asp-validation-for="Telefono" class="text-danger"></span>
                                    </div>

                                    <div class="col-1">
                                        <label asp-for="Cellulare" class="control-label">@funzioni.GetWord("Cellulare  (prefisso int. e numero)")</label>
                                    </div>
                                    <div class="col-3">
                                        <input asp-for="CellularePrefissoInternazionale" style="width:80px;display:unset" class="form-control" />
                                        <input asp-for="Cellulare" class="form-control" style="display:unset; width:250px" />
                                        <span asp-validation-for="Cellulare" class="text-danger"></span>
                                    </div>
                                    <div class="col-1">
                                        <label asp-for="Email" class="control-label">@funzioni.GetWord("Email")</label>
                                    </div>
                                    <div class="col-3">
                                        <input asp-for="Email" class="form-control" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row mt-4 ml-2">
                                    <div class="col-11">
                                        <h3>Domicilio</h3>
                                    </div>
                                </div>
                                <div class="row mt-2 ml-2 mr-2">
                                    <div class="col-1">
                                        <label asp-for="IndirizzoDomicilio" class="control-label">@funzioni.GetWord("Indirizzo")</label>
                                    </div>
                                    <div class="col-7">
                                        <input id="IndirizzoDomicilio" asp-for="IndirizzoDomicilio" class="form-control" />
                                        <span asp-validation-for="IndirizzoDomicilio" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row mt-1 ml-2 mr-2">
                                    <div class="col-1">
                                        <label asp-for="CapDomicilio" class="control-label">@funzioni.GetWord("Cap")</label>
                                    </div>
                                    <div class="col-3">
                                        <input id="CapDomicilio" asp-for="CapDomicilio" class="form-control" />
                                        <span asp-validation-for="CapDomicilio" class="text-danger"></span>
                                    </div>
                                    <div class="col-1">
                                        <label asp-for="CittàDomicilio" class="control-label">@funzioni.GetWord("Città")</label>
                                    </div>
                                    <div class="col-3">
                                        <input id="CittaDomicilio" asp-for="CittàDomicilio" class="form-control" />
                                        <span asp-validation-for="CittàDomicilio" class="text-danger"></span>
                                    </div>
                                    <div class="col-1">
                                        <label asp-for="ProvinciaDomicilio" class="control-label">@funzioni.GetWord("Provincia")</label>
                                    </div>
                                    <div class="col-3">
                                        <input id="ProvinciaDomicilio" asp-for="ProvinciaDomicilio" class="form-control" />
                                        <span asp-validation-for="ProvinciaDomicilio" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row mt-1 ml-2 mr-2">
                                    <div class="col-1">
                                        <label asp-for="NazioneDomicilio" class="control-label">@funzioni.GetWord("Nazione")</label>
                                    </div>
                                    <div class="col-6">
                                        <input id="NazioneDomicilio" asp-for="NazioneDomicilio" class="form-control" />
                                        <span asp-validation-for="NazioneDomicilio" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row mt-2 ml-2 mr-2">
                                    <div class="col-3"></div>
                                    <div class="col-6">

                                        <button type="button" id="CopiaDomicilio" class="btn btn-primary" style="width:100%">CLICCA QUI SE LA RESIDENZA<br /> E' UGUALE AL DOMICILIO</button>
                                    </div>
                                </div>

                                <div class="row mt-4 ml-2">
                                    <div class="col-11">
                                        <h3>Residenza</h3>
                                    </div>
                                </div>
                                <div class="row mt-2 ml-2 mr-2">
                                    <div class="col-1">
                                        <label asp-for="IndirizzoResidenza" class="control-label">@funzioni.GetWord("Indirizzo")</label>
                                    </div>
                                    <div class="col-7">
                                        <input id="IndirizzoResidenza" asp-for="IndirizzoResidenza" class="form-control" />
                                        <span asp-validation-for="IndirizzoResidenza" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row mt-1 ml-2 mr-2">
                                    <div class="col-1">
                                        <label asp-for="CapResidenza" class="control-label">@funzioni.GetWord("Cap")</label>
                                    </div>
                                    <div class="col-3">
                                        <input id="CapResidenza" asp-for="CapResidenza" class="form-control" />
                                        <span asp-validation-for="CapResidenza" class="text-danger"></span>
                                    </div>

                                    <div class="col-1">
                                        <label asp-for="CittàResidenza" class="control-label">@funzioni.GetWord("Città")</label>
                                    </div>
                                    <div class="col-3">
                                        <input id="CittaResidenza" asp-for="CittàResidenza" class="form-control" />
                                        <span asp-validation-for="CittàResidenza" class="text-danger"></span>
                                    </div>
                                    <div class="col-1">
                                        <label asp-for="ProvinciaResidenza" class="control-label">@funzioni.GetWord("Provincia")</label>
                                    </div>
                                    <div class="col-3">
                                        <input id="ProvinciaResidenza" asp-for="ProvinciaResidenza" class="form-control" />
                                        <span asp-validation-for="ProvinciaResidenza" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row mt-1 ml-2 mr-2">
                                    <div class="col-1">
                                        <label asp-for="NazioneResidenza" class="control-label">@funzioni.GetWord("Nazione")</label>
                                    </div>
                                    <div class="col-3">
                                        <input id="NazioneResidenza" asp-for="NazioneResidenza" class="form-control" />
                                        <span asp-validation-for="NazioneResidenza" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row mt-4 ml-2">
                                    <div class="col-11">
                                        <h3>Quota fondo comune</h3>
                                    </div>
                                </div>
                                <div class="row mt-1 ml-2 mr-2">
                                    <div class="col-1">
                                        <label asp-for="QuotaFondoComune" class="control-label">@funzioni.GetWord("Quota fondo comune")</label>
                                    </div>
                                    <div class="col-3">
                                        <input asp-for="QuotaFondoComune" class="form-control" />
                                        <span asp-validation-for="QuotaFondoComune" class="text-danger"></span>
                                    </div>
                                    <div class="col-1">
                                        <label asp-for="QuotaFondoComuneValuta" class="control-label">@funzioni.GetWord("Valuta")</label>
                                    </div>
                                    <div class="col-3">
                                        <select asp-for="QuotaFondoComuneValuta" class="form-control" style="width:100%"
                                                asp-items="@(new SelectList(ViewBag.valuta,"CodiceValuta","DescrizioneValuta"))">
                                            <option></option>
                                        </select>


                                        <span asp-validation-for="QuotaFondoComuneValuta" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row mt-2 ml-2 mr-2">
                                    <div class="col-1">
                                        <label asp-for="Gruppo" class="control-label">@funzioni.GetWord("Gruppo")</label>
                                    </div>
                                    <div class="col-3">
                                        <select asp-for="Gruppo" class="form-control" style="width:100%"
                                                asp-items="@(new SelectList(ViewBag.gruppi,"Gruppo","Gruppo"))">
                                            <option></option>
                                        </select>
                                        <span asp-validation-for="Gruppo" class="text-danger"></span>
                                    </div>
                                    <div class="col-1">
                                        <label asp-for="Zona" class="control-label">@funzioni.GetWord("Zona")</label>
                                    </div>
                                    <div class="col-3">
                                        <select asp-for="Zona" class="form-control" style="width:100%"
                                                asp-items="@(new SelectList(ViewBag.zone,"Zona","Zona"))">
                                            <option></option>
                                        </select>
                                        <span asp-validation-for="Zona" class="text-danger"></span>
                                    </div>

                                    <div class="col-1">
                                        <label asp-for="AnnoDiInizio" class="control-label">@funzioni.GetWord("Anno di inizio")</label>
                                    </div>
                                    <div class="col-3">
                                        <input asp-for="AnnoDiInizio" class="form-control" />
                                        <span asp-validation-for="AnnoDiInizio" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row mt-2 ml-2 mr-2">
                                    <div class="col-1">
                                        <label asp-for="Nuovo" class="control-label">@funzioni.GetWord("Nuovo")</label>
                                    </div>
                                    <div class="col-3">
                                        <input class="form-control form-check-input" type="checkbox" checked="@Model.Nuovo" asp-for="Nuovo" />
                                        <span asp-validation-for="Nuovo" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row mt-4 mb-4 ml-2 mr-2">
                                    <div class="col-6">
                                        <input type="submit" value='@funzioni.GetWord("Conferma")' class="btn btn-primary" style="display:unset">
                                        <input type="button" value='@funzioni.GetWord("Chiudi")' class="btn btn-primary" style="display:unset" onclick="window.close()">
                                    </div>
                                </div>
                            </form>


                        </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <div class="card-header">
                        <h1 class="titleBase">
                          Permessi
                        </h1>
                    </div>
                </div>
                <div class="card-body">
                    <table id="permessi" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Permesso</th>
                                <th></th>

                            </tr>

                        </thead>
                        <tfoot>
                            <tr><th>Inserimento nuovo permesso</th><th></th></tr>
                            <tr>
                                <th><select id="ddlPermessi" class="form-control" asp-items="@(new SelectList(ViewBag.permessi,"Permesso","Permesso"))"></select></th>
                            <th><button id="btnConfermaPermesso" class="btn btn-primary" onclick="InserisciPermesso()">@funzioni.GetWord("CONFERMA")</button></th>
                            </tr>
                        </tfoot>
                       
                    </table>

                </div>
            </div>


            <div class="card">
                <div class="card-header">
                    <h1 class="titleBase">
                        Fondo comune
                    </h1>
                    <h2>Riepilogo dei versamenti</h2>
                </div>
                <div class="card-body">
                   
                    <iframe src="/FondoComune/DetailsBO/@Model.UID" name="FondoComune" id="iFondoComune" src="" scrolling="no"
                            style="border:none; width:90%; height:800px; overflow:hidden;"></iframe>
                </div>
            </div>
        </section>
    </div>
</main>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>

        $("#CopiaDomicilio").click(function () {

            $("#IndirizzoResidenza").val($("#IndirizzoDomicilio").val());
            $("#CapResidenza").val($("#CapDomicilio").val());
            $("#CittaResidenza").val($("#CittaDomicilio").val());
            $("#ProvinciaResidenza").val($("#ProvinciaDomicilio").val());
            $("#NazioneResidenza").val($("#NazioneDomicilio").val());


        })
        $(document).ready(function () {

            var table = $("#permessi").DataTable({
                dom: 'Blfrtip',
                processing: true, // for show progress bar
                serverSide: true, // for process server side
                filter: true, // this is for disable filter (search box)
                lengthMenu: [[10, 25, 50, 100, 500], [10, 25, 50, 100, 500]],
                pagingType: "full_numbers",
                orderMulti: false, // for disable multiple column at once
                fixedHeader: true,
                ajax: {
                    url: "/UtentiPermessi/LoadData/@Model.UID",
                    type: "POST",
                    datatype: "json",
                    cache: false,
                    //contentType: "application/json;",
                    //data: { 'column': field, 'operation': criteria, 'value': value },
                    async: true
                },
                language: {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Italian.json",

                },
                "columns": [
                    { "data": "permesso", "name": "Permesso", "autoWidth": true },
                    {
                        "data": "none",
                        "name": "delete",
                        "orderable": false,
                        "render": function (data, type, row, meta) { return '<button class="btn btn-danger" onclick="EliminaConferma(' + row.idUtentePermesso + ')"><i class="fas fa-trash"></i>&nbsp;ELIMINA</button>' }
                    }
                ],

            });

        })

           function InserisciPermesso() {
        $.ajax({
            // contentType: "application/json; charset=utf-8",
            url: "/UtentiPermessi/Create",
            data: { "Uid": "@Model.UID", "Permesso": $("#ddlPermessi").val() },
            async:"false",
            type: "POST",
            success: function (data) {
              
            },
            error: function (response) {
                var a
                a = 1
            }
        })
               aggiornaTabelle()

    }

         function EliminaConferma(id) {

        swal.fire({
            title: 'Attenzione',
            text: "Confermi di voler eliminare questa associazione?",
            type: 'warning',
            showCancelButton: true,
            cancelButtonText: 'No',
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sì'
        }).then((result) => {
            if (result.value) {
                Elimina(id);
            }
            else {
                return false;
            }
        });
        //if (confirm("Elimino il medico sicuro?")) {
        //    Delete(UID);
        //} else {
        //    return false;
        //}
            
    }

    function Elimina(id) {
        var url = '@Url.Content("~/")' + "UtentiPermessi/Delete/" + id;

        $.get(url, function (data) {
            if (data == "") {
                aggiornaTabelle();
            } else {
                swal.fire({
                    title: 'Attenzione',
                    text: data,
                    type: 'warning',
                    showCancelButton: false});
            }
        })

        aggiornaTabelle()
    }

    function aggiornaTabelle() {

        oTable = $('#permessi').DataTable();
        oTable.draw();
    }
</script>
}
